<% extends 'layout.html' %>
<% block body %>

<div ng-app="homePage" ng-controller="HomePageController" ng-cloak>
 <!--sidebar-->
 <aside>
    <div id="search">
      <div>
        <input id="pac-input" type="text" placeholder="Search">
      </div>
    </div>
    <div id="searchresults" >
      <div ng-repeat="waypoint in waypoints">
        <div class="results">
          <span class="result-image"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/map-marker-icon.png"/></span>
          <span class="results-names">
            {{ waypoint.formatted_address }}
          </span>
        </div>
      </div>
    </div>
  </aside>

  <!--main content-->
  <div ng-view onload="initMap()"></div>
</div>

<script>var recents = <$ recents | safe $>;</script>

<% endblock %>
