@import url(https://fonts.googleapis.com/css?family=Pontano+Sans&subset=latin,latin-ext);

* {                                                                                                                                                      
  box-sizing: border-box;
}           

html, body {
  font-family: 'Pontano Sans';
  position: relative;
  height: 100%;
  margin: 0;
}
