* {                                                                                                                                                      
  box-sizing: border-box;
}           

html, body {
  font-family: Roboto;
  position: relative;
  height: 100%;
  margin: 0;
}
