aside {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 26%;
  background-color: #F9F9F9;
  z-index: 20;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  float: left;

  #search {
    text-align: center;
    padding: 20px;

    input {
      font: inherit;
      width: 95%;
      padding: 10px;
      outline: none;
      border: 1px solid #DDDDDD;
      border-radius: 2px;
      transition: border-color .25s;

      &:hover {
        border-color: #BBBBBB;
      }

      &:focus, &:active {
        border-color: #4D90FE;
      }                                                                                                                                                      
    }
  }
}

