@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);         
@import "partials/_sidebar.scss";
@import "partials/_pagesetup.scss";

#trip-container {
  width: 74%; 
  float: right;
}

.trips {
  margin: 50px;
}

.rating {
  float: right;
}
