@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import "partials/_sidebar.scss";
@import "partials/_pagesetup.scss";

#mapContainter {
  height: 100%;
  width: 100%;
}

#map {
  position: fixed !important;
  width: 74%;
  left: 26%;
  height: 100%;
}
