@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

$sidebar-width: 350px;

* {
  box-sizing: border-box;
}

html, body {
  font-family: Roboto;
  position: relative;
  height: 100%;
  margin: 0;
}

aside {
  height: 100%;
  width: $sidebar-width;
  background-color: #F9F9F9;
  z-index: 20;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  float: left;

  #search {
    text-align: center;
    padding: 20px;

    input {
      font: inherit;
      width: 300px;
      padding: 10px;
      outline: none;
      border: 1px solid #DDDDDD;
      border-radius: 2px;
      transition: border-color .25s;

      &:hover {
        border-color: #BBBBBB;
      }

      &:focus, &:active {
        border-color: #4D90FE;
      }
    }
  }
}

#mapContainter {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
}
