$sidebar-width: 300px;

html, body {
  position: relative;
  height: 100%;
  margin: 0;
}

aside {
  height: 100%;
  width: $sidebar-width;
  background-color: #F0F0F0;
  position: fixed;
  z-index: 20;
}

#map {
  height: 100%;
  width: 100%;
  left: $sidebar-width;
}
